@import '../abstracts/variables';

// Mobile Screens
.case-details-container {
    padding-top: 3rem;
}

.view-case-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.view-case-header button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-image: url('../../src/back-icon.svg');
    background-size: cover;
    cursor: pointer;
}

.view-case-header p {
    color: #FF5E67;
    text-align: center;
    font-size: 1.3rem;
}

.case-details-container h3 {
    text-align: center;
    font-size: 1.1rem;
}

.case-details-img-container {
    width: 100%;
    height: 10rem;
}

.case-details-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vehicle-details {
    margin-top: 1rem;
    padding-top: 2rem;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;

    padding: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}

.vehicle-details h4 {
    margin-bottom: .5rem;
}

.gray-text {
    color: #637381;
    font-weight: 400;
    font-size: 0.8rem;
}

.vehicle-details div {
    margin-top: 1rem;
}

.vehicle-details .gray-text {
    margin-bottom: 0.5rem;
}

.btn-container {
    width: 100%;
}

.btn-container button {
    margin-top: 0rem;
    background-color: $clr-primary-1;
    color: $clr-primary-2;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {

    .case-details-container {
        // background-color: red;
        padding: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .view-case-header button {
        width: 1rem;
        height: 1rem;
    }

    .view-case-header p {
        align-self: center;
        text-align: left;
        font-size: 1rem;
    }

    .case-details-container h3 {
        text-align: left;
    }

    .case-details-img-container {
        width: 100%;
        height: 10rem;
    }

    .vehicle-details {
        padding: 0rem;
        padding-top: 1.3rem;
        box-shadow: none;
    }

}