@import '../abstracts/variables';

.navbar {
    height: 4rem;
    background-color: $clr-primary-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
}

.dropdown {
    margin-right: 0rem;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0.65rem;
    right: 1rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    background-image: url('/src/tt-logo.svg');
    background-repeat: no-repeat;
}

.logo-with-text {
    display: none;
    height: 3rem;
    width: 14.8rem;
    margin-left: 1rem;
    background-image: url('/src/tt-logo-with-text.svg');
    background-repeat: no-repeat;
}

.drop-down-arrow {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    background: url('/src/Vector.svg') center / contain no-repeat;
}

.avatar {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background: url('/src/avatar.jpg') center / contain no-repeat;
    margin-right: 1rem;
}

#user-name {
    color: var(--netural-color-milk-white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 171.429% */
}

#user-email {

    color: var(--netural-color-n-500, var(--grey-500, #919EAB));

    /* Body S */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

// ====================== Dashboard - Start ====================== //
.driver-dashboard {
    display: grid;
    padding: 0rem;
    grid-template-areas:
        "map"
        "info"
    ;
}

.map-section {
    grid-area: map;
    min-height: 50vh;
}

.info-section {
    grid-area: info;
    margin-top: 0rem;
    width: 95%;
    margin: 0 auto;
}

.info-section h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

// ====================== Dashboard - End ====================== //

// ====================== Cases - Start ====================== //
.case-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.case-item {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 10px 25px 0px rgba(145, 158, 171, 0.2);
}

.case-img-container {
    flex-basis: 20%;
    /* Adjusted from 25% to 20% */
    width: 100%;

    flex-basis: 33.33%;
    /* Adjusted to 1/3 of the width */
    max-width: 33.33%;
    /* To handle smaller screens where flex-basis may not apply */
}

.case-img-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.case-info {
    flex-basis: 66.67%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new-request {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #7A4100;
    color: #277790;
    background-color: #FFF2D9;
    background-color: #c3ebf8;
    border-radius: 2rem;
    font-size: 0.8rem;
}

.case-notes {
    color: #191C1F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.date-text {
    color: #637381;
    font-size: 0.8rem;
}

.container-user-case-view-incident {
    cursor: pointer;
}

// ====================== Cases - End ====================== //

@media only screen and (min-width: 900px) {

    .logo {
        margin-left: 2rem;
        display: none;
    }

    .logo-with-text {
        margin-left: 2rem;
        display: inline-block;
    }

    .dropdown {
        margin-right: 2rem;
    }

    .driver-dashboard {
        padding: 2rem;
        grid-template-areas: "map info";
        gap: 2rem;
        grid-template-columns: 2fr 1fr;
    }

    .map-section {
        padding: 1rem;
        min-height: 85vh;
        border-radius: 0.4rem;
        box-shadow: 0px 10px 25px 0px rgba(145, 158, 171, 0.2);
    }

    .info-section {
        margin-top: 0rem;
        margin: 0 auto;
    }

    .info-section h2 {
        margin-top: 0rem;
        margin-bottom: 1.5rem;
        text-align: left;
    }

}