.second-stage-form-incident-page-front {
	// display: none;
}

.incident-client-page-right-side {
	margin: 2rem;
	padding: 1rem;
	width: 50%;
	height: 80vh;
	align-self: center;
}

.report-incident-arrows {
	width: 100%;
	display: flex;

	// justify-content: stretch;
	& h3 {
		align-self: center;
	}

	.left-arrow-icon {
		margin-right: 0.5rem;
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/arrow-left.svg') center / contain no-repeat;
	}

	.right-arrow-icon {
		margin-right: 0.5rem;
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/arrow-right.svg') center / contain no-repeat;
	}
}

.progress-bar {
	width: 100%;
	margin-top: 1rem;
	text-align: center;

	& h5 {
		font-size: large;
		color: black;
	}

	.progress-bar-icons {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	& span {
		display: block;
		text-align: center;
		margin-top: 0.5rem;
	}

	.icon-photo {
		content: '';
		color: yellow;
		padding: 0.6rem;
		background: url('/src/camera.svg') center / contain no-repeat;
	}

	.icon-vechile {
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/car.svg') center / contain no-repeat;
	}

	.icon-spot {
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/pin.svg') center / contain no-repeat;
	}
}

.first-step-upload-picture {
	width: 100%;
	// height: 40vh;
	border: 1px dashed grey;
	padding: 1rem;
	margin-top: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: .2rem;
	margin-bottom: 2rem;
}

.img-container-for-upload-img {
	// width: 20rem;
	// height: 20rem;
	margin: 0 auto;
	margin-top: 1rem;
	// position: relative;
}

.img-container-for-upload-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: .3rem;
	box-shadow: 0px 10px 25px 0px rgba(145, 158, 171, 0.2);
}

.first-step-upload-picture h3 {
	margin-bottom: 1rem;
}

.first-step-upload-picture p {
	margin-bottom: 1rem;
}

.first-step-upload-picture span {
	color: $clr-primary-4;
}

.upload-div-img {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 3rem;
	border-radius: 50%;
	background-color: $clr-primary-6;
	width: 5rem;
	height: 5rem;
	background-image: url('/src/img.svg');
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	& input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.leftside-map {
		min-height: 40vh !important;
	}
}

// New CSS
.report-incident-arrows {
	margin-top: 3rem;
	display: flex;
	align-items: center;
}

.report-incident-arrows i {
	cursor: pointer;
}

.report-incident-form button {
	margin-top: 0;
	background-color: $clr-primary-1;
	color: $clr-primary-2;
	font-weight: 700;
	cursor: pointer;
	width: 100%;
}

.report-incident-form {
	margin: auto;
}

.report-incident-form input,
.report-incident-form select,
.report-incident-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

/* Style dropdown and text input side by side */
.dropdown-form-side {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.report-incident-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

@media only screen and (min-width: 700px) {

	.report-incident-arrows {

		margin-top: 0rem;

	}
}