.second-stage-form-incident-page-front {
	display: none;
}

.incident-client-page-right-side {
	margin: 2rem;
	padding: 1rem;
	width: 50%;
	height: 80vh;
	align-self: center;
}

.report-incident-arrows {
	width: 100%;
	display: flex;

	// justify-content: stretch;
	& h3 {
		align-self: center;
	}

	.left-arrow-icon {
		margin-right: 0.5rem;
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/arrow-left.svg') center / contain no-repeat;
	}

	.right-arrow-icon {
		margin-right: 0.5rem;
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/arrow-right.svg') center / contain no-repeat;
	}
}

.progress-bar {
	width: 100%;
	margin-top: 1rem;
	text-align: center;

	& h5 {
		font-size: large;
		color: black;
	}

	.progress-bar-icons {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	& span {
		display: block;
		text-align: center;
		margin-top: 0.5rem;
	}

	.icon-photo {
		content: '';
		color: yellow;
		padding: 0.6rem;
		background: url('/src/camera.svg') center / contain no-repeat;
	}

	.icon-vechile {
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/car.svg') center / contain no-repeat;
	}

	.icon-spot {
		content: '';
		color: black;
		padding: 0.6rem;
		background: url('/src/pin.svg') center / contain no-repeat;
	}
}

.first-step-upload-picture {
	width: 100%;
	height: 40vh;
	border: 1px dashed grey;
	padding: 1rem;
	margin-top: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-container-for-upload-img {
	max-width: 20rem;
	max-height: 20rem;
	margin: 0 1rem 1rem 0;
	position: relative;
}

.img-container-for-upload-img img {
	max-width: 100% !important;
	max-height: 100% !important;
	object-fit: contain;
	box-shadow: 0px 10px 25px 0px rgba(145, 158, 171, 0.2);
}

.upload-div-img {
	width: 5rem;
	height: 5rem;
	background-image: url('/src/img.svg');
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	& input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.leftside-map {
		min-height: 40vh !important;
	}
}