@import '../abstracts/variables';
// Define a mixin for form groups
// Define a mixin for labels
// $clr-primary-1: #ffc501;
// $clr-primary-2: #000000;
// $clr-primary-3: #f7f7f7;
// $clr-primary-4: #ff5e67;
// $clr-primary-5: #dfe3e8;
// $clr-primary-5: #ffffff;
// $clr-primary-6: #919eab;
// $clr-primary-7: #191c1f;

.form-label {
	display: inline-block;
	font: bold 1.5rem;
	margin-bottom: 0.5rem;
}

.form-group {
	// margin: 0.5rem;
}

// Define a mixin for inputs
.form-input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid rgb($clr-primary-2, 0.2);
	background-color: transparent;
	border-radius: 0;
	color: #000;
	margin-top: 1rem;
}

.form-login {
	display: inline-block;
	text-align: left;
	background-color: transparent;
	width: 100%;
}

// New
.report-incident-form {
	max-width: 600px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	& label {
		display: block;
		margin-bottom: 8px;
	}

	& input,
	select,
	textarea {
		width: 100%;
		padding: 8px;
		margin-bottom: 16px;
		box-sizing: border-box;
	}

	& .dropdown-form-side {
		display: flex;
		flex-direction: column;
	}

	& button {
		background-color: #333;
		color: #fff;
		padding: 10px 15px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
	}

	& button:hover {
		background-color: #555;
	}

}